<h1> TASKS </h1>
<a href="{% url "home_page" %}">Add New Task</a>  <br><br><br>
<table border="1">
    <thead>
        <th>SL No.</th>
        <th>Task Name</th>
        <th>Is Completed</th>
        <th>Action</th>
    </thead>
{% for task in all_tasks %}
    <tr>
        <td>{{ forloop.counter}}</td>
        <td>{{task.task_name}}</td>
        <td>{{task.is_completed}} </td>
        <td>
            {% if task.is_completed == False %}
                <button><a href="{%url 'task_completed' task_sl_no=task.id %}">Done</a></button>
            {% endif %}
            <button><a href="{%url 'delete_task' task_sl_no=task.id %}">Delete</a></button>
        </td>
    </tr>
{% endfor %}
</table>
</ul>