<html>
<head>
    <title>Sample Page</title>
</head>
<body>
<h1>JINJA Tutorial</h1>
</body>
    NAME : {{name | upper}} <br><br>
    AGE : {{ age }} <br><br>
    HEIGHT : {{ height | default:"NA" }} cm <br><br>

    SKILLS : <br>
    <ul>
        {% for i in skills %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
    ABLITY TO VOTE : 
    {% if age >= 18 %}
    YES 
    {% else %}
    NO
    {% endif %}
    <br><br><b style="color:{% if age >= 18 %} green {% else %} red {% endif %}">VOTING</b>
</html>