<html>
<head>
    <title>TODO List</title>
</head>
<body>
<h1>My TODO List</h1>
<ul>
{% for key, value in tasks.items %}
<li>
   <span {% if value == "COMPLETE"  %} style="text-decoration:line-through" {% endif %}> {{ key }} <span>  
<form action="delete_task" name="delete_form" method="POST"> 
    {% csrf_token %}
    <input name="delete_value" type="hidden" value="{{key}}">
    <input type="submit"  value="delete">
</form>

{% if value != "COMPLETE"  %}
<form action="completed"  method="POST"> 
    {% csrf_token %}
    <input name="completed_value" type="hidden" value="{{key}}">
    <input type="submit"  value="completed">
</form>
{% endif %}
</li>
{% endfor %}
</ul>

<form action="add_task" name="add_form" method="POST"> 
    {% csrf_token %}
    <label>ADD NEW TASK</label>
    <input name="new_task" type="text">

       <input type="submit"  value="add">
</form>
</body>
</html>