{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{% static 'accounts/styles/style.css' %}">
</head>
<body>
    <nav>
        <header>
            <img class="navigation_logo" src="{% static 'accounts/images/logo.png' %}" alt="Quizio Logo">
        </header>
        <div class="nav_links">
            <a href="">Features</a>
            <a href="">Pricing</a>
            <a href="">About</a>
            <a href="" id="nav_signin_btn">Sign In</a>
        </div>
    </nav>
    <main>
        <!-- Page Content -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>