<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <main>
        <h1>Register to Quizio</h1>
        <form action="">
            <div>
                <label for="f_name">First Name</label>
                <input type="text" name="f_name" id="f_name">
            </div>

            <div>
                <label for="l_name">Last Name</label>
                <input type="text" name="l_name" id="l_name">
            </div>

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>

            <div>
                <label for="password">Renter your Password</label>
                <input type="password" name="conf_password" id="conf_password">
            </div>

            <div>
                <button type="submit">Register</button>
                <a href="">Already have an account? Sign in</a>
            </div>
        </form>
    </main>
</body>
</html>