@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
     font-family: "Montserrat", sans-serif;
     background: linear-gradient(150deg, rgba(200, 179, 250, 0.607),white);
     background-repeat: no-repeat;
     min-height: 100vh;
}

main {
   
}

.navigation_logo{
    height: 80px;
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
}

.nav_links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav_links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav_links a:hover{
    color: indigo;
    scale: 1.1;
}

#nav_signin_btn{
    padding: 10px 10px;
    background-color: #3713ec;
    border-radius: 10px;
    color: white;

}

.form_container{
    min-width: 400px;
    max-width: 600px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.466);
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form_container h1{
    font-size: 24px;
}
.form_container .navigation_logo{
    height: 150px;
    width: 150px;
}
.form_container form{
    /* max-width: 600px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 60px;
}
.form_container a{
    color: black;
    padding-top: 20px;
    text-align: center;
}

.input_feilds{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.two_cols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.two_cols div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input_feilds label{
    font-weight: bold;
    font-size: 12px;
}

.input_feilds input{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}
.input_feilds button{
    background:linear-gradient(to bottom,rgb(172, 172, 240),white);
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.input_feilds button:hover{
    background:linear-gradient(to top,rgb(172, 172, 240),white);
}
/* .input_feilds input[type="text"]{
} */